<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Topics</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <label for="tn">Enter  Name</label>
        <select name="tn" id="tn">
            {% for WO in LWO %}
            <option value="{{ WO.pk }}">{{ WO.name }}</option>
            {% endfor %}
        </select>
        <br>
         <label for="author">Enter  Author</label>
        <input type="text" name="author" id="author">
        <br>
        <label for="date">Enter Date</label>
        <input type="datetime" name="date" id="date">
        <br>
        <input type="submit">
        
    </form>
</body>
</html>